 
#############################################################
 
        div{
            background-color: orange;
            text-align: right;
        }
 
        p{
             background-color: white;
        }
 
        h2{
            background-color: gray;
        }
 
